<ion-content>
  <div>
    <div class="Title">Teste Time up and GO (TUG)</div>
    <div class="Conteudo">Teste consiste em levantar-se de uma cadeira sem a ajuda dos braços e andar em ritmo 
                          confortável e seguro a uma distância de três metros, dar a volta, retornar e sentar 
                          novamente, cronometrado em segundos. Para análise do desempenho o escore: > 8,1 s 
                          Indicativo para Sarcopenia.</div>

    <form [formGroup]="timeupForm">
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input autocomplete="off" name="name" type="number" formControlName="timeup_resultado" placeholder="Resposta" class="InputStyle">
      </ion-item>
    </form>
    <button class="Button" (click)="teste5()"><p class="ButtonText">Avançar</p></button>
  </div>
</ion-content>