<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="contato" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="Container">
      <div class="Header">
       
      </div>
      <div class="ProfileButton"></div>
    
      <div class="Text"><b>Anotações</b></div><br>
         <ion-item style="padding-right: 10px; padding-left: 10px;">
          <ion-label position="floating">Escreva aqui suas anotações</ion-label>
          <ion-textarea [(ngModel)]="anotacao" style="width: 100%" no-padding></ion-textarea>
        </ion-item>
      
      <button class="Button" (click)="anotacoes()"><p class="ButtonText">Salvar</p></button>
  </div>
</ion-content>