<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="agendamento_cliente" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class= "container">
    <div class="Title">Configuração do Paciente</div>
    <p *ngFor="let contato of contato" ></p>
<ion-card>
  <ion-card-content>
    <ion-card-title (click)="toggleMMSS();">
      <ion-item>
        <ion-icon name="arrow-down-outline" slot="end"></ion-icon>
        <ion-text>Exercícios MMSS</ion-text>
      </ion-item>
    </ion-card-title>
  <ion-list id="MMSS" name="MMSS" style="display:none;">
    <ion-radio-group allow-empty-selection (ionChange)="exercicio($event)">
      <ion-row>
        <ion-col>
          <div>
            <ion-radio value = "Deltoide / Romboide / Manguito Rotador / Trapézio - Desenvolvimento ou Extensor de Ombro / Elevação Lateral"></ion-radio>&nbsp;
            <ion-label id="radio-form">Deltoide / Romboide / Manguito Rotador / Trapézio - Desenvolvimento ou Extensor de Ombro / Elevação Lateral</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-radio-group allow-empty-selection (ionChange)="exercicio1($event)">
      <ion-row>
        <ion-col>
          <div>
            <ion-radio value = "Peitoral - Abução e Abução Horizontal de Ombro / Flexão de Braço Adaptado / Supino"></ion-radio>&nbsp;
            <ion-label id="radio-form">Peitoral - Abução e Abução Horizontal de Ombro / Flexão de Braço Adaptado / Supino</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-radio-group allow-empty-selection (ionChange)="exercicio2($event)">
      <ion-row>
        <ion-col>
          <div>
            <ion-radio value = "Bíceps - Rosca Direta / Rosca Alternada / Rosca Martelo"></ion-radio>&nbsp;
            <ion-label id="radio-form">Bíceps - Rosca Direta / Rosca Alternada / Rosca Martelo</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-radio-group allow-empty-selection (ionChange)="exercicio3($event)">
      <ion-row>
        <ion-col>
          <div>
            <ion-radio value = "Tríceps - Tríceps Testa / Supino fechado / Tríceps Francês / Tríceps Coice"></ion-radio>&nbsp;
            <ion-label id="radio-form">Tríceps - Tríceps Testa / Supino fechado / Tríceps Francês / Tríceps Coice</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-radio-group>
      
    </ion-list>
  </ion-card-content>
  </ion-card>

  <p></p>

  <ion-card>
    <ion-card-content>
      <ion-card-title (click)="toggleMMII();">
        <ion-item>
          <ion-icon name="arrow-down-outline" slot="end"></ion-icon>
          <ion-text>Exercícios MMII</ion-text>
        </ion-item>
      </ion-card-title>

      <ion-list id="MMII" name="MMII" style="display:none;">

        <ion-radio-group allow-empty-selection (ionChange)="exercicioMMII($event)">
          <ion-row>
            <ion-col>
              <div>
                <ion-radio value = "Quadriceps Femoral - Agachamento (com apoio, senta e levanta) Afundo / Flexão de Joelhos / Extensão do joelho"></ion-radio>&nbsp;
                <ion-label id="radio-form">Quadriceps Femoral - Agachamento (com apoio, senta e levanta) Afundo / Flexão de Joelhos / Extensão do joelho</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <ion-radio-group allow-empty-selection (ionChange)="exercicioMMII1($event)">
            <ion-row>
              <ion-col>
                <div>
                  <ion-radio value = "Glúteo e Posterior de Coxa - Abdução e Adução de Quadril (com variações deitado, em pé e sentado)"></ion-radio>&nbsp;
                  <ion-label id="radio-form">Glúteo e Posterior de Coxa - Abdução e Adução de Quadril (com variações deitado, em pé e sentado)</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-radio-group>
            <ion-radio-group allow-empty-selection (ionChange)="exercicioMMII2($event)">
              <ion-row>
                <ion-col>
                  <div>
                    <ion-radio value = "Panturilha - Panturrilha em pé / Panturrilha sentado / rotação Tornozelo / Flexão e extensão de pé"></ion-radio>&nbsp;
                    <ion-label id="radio-form">Panturilha - Panturrilha em pé / Panturrilha sentado / rotação Tornozelo / Flexão e extensão de pé</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
         
        </ion-list>
    </ion-card-content>
    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-content>
        <ion-card-title (click)="toggleCore();">
          <ion-item>
            <ion-icon name="arrow-down-outline" slot="end"></ion-icon>
            <ion-text>Exercícios de Fortalecimento Core, Tronco, Abdômen</ion-text>
          </ion-item>
        </ion-card-title>
      <ion-list id="Core" name="Core" style="display:none;">

        <ion-radio-group allow-empty-selection (ionChange)="exerciciocore($event)">
          <ion-row>
            <ion-col>
              <div>
                <ion-radio value = "Abdominal Supra / Infra / Obliquo Controle de Restrição"></ion-radio>&nbsp;
                <ion-label id="radio-form">Abdominal Supra / Infra / Oblíquo Controle de Respiração</ion-label>
              </div>
            </ion-col>
          </ion-row>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
      </ion-card>

    <button class="Button" (click)="salvarEX()"><p class="ButtonText">SALVAR EXERCÍCIOS</p></button>
    <button class="Button" (click)="blocoNotas()"><p class="ButtonText">BLOCO DE NOTAS</p></button>
    <button class="Button" (click)="agendamento()"><p class="ButtonText">AGENDAMENTO</p></button>
    

    <br><br><br>
   
   <div class="CreateAccountButton" (click)="teste()">
      <div class="CreateAccountButtonText">
        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-bottom: -3px;">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>&nbsp;
        Contato Paciente
      </div>
    </div>
  </div>
</ion-content>