:host{

    ion-content {
        --background: #126DE8;
         
    }
  
    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent; 
        --border-style: var(--border-style);
        --border: 0 none; 
        --box-shadow: 0 0 0 0; 
        --outline: 0;
    }
  
    ion-item {
        --ion-item-background: transparent;
        --border-style: var(--border-style);
        --border: 0 none; 
        --box-shadow: 0 0 0 0; 
        --outline: 0;
       //text-align: justify;
       font-size: small;
    }
  
    ion-card {
      width: 100%; 
      display: block; 
      margin: auto;
    }
  
    ion-card-content {
      padding-left: 5px; 
      padding-right: 5px; 
      padding-top: 3px; 
      padding-bottom: 3px;
    }
  
    ion-icon {
      color: #126DE8;
      width: 15px; 
      height: 15px;
    }
  
    ion-checkbox {
        width: 20px;
        height: 20px;
    }
  
    p {
        color: #fff;
        text-align: center;
    }
  
    .choose-paciente{
        width: 100%;
        padding: 9px;
        margin-bottom: 10px;
    }
  
    .Header {
        //padding: 30px;
        //padding-top: 30px;
        background: #126DE8;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 12px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }
  
    .container {
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        //margin-top: 70px;
    }
  
    .Title {
        font-size: 24px;
        text-align: center;
        color: #f4ede8;
        font-family: "Lato-Regular";
        margin: 5px 0 24px;;
        
    }
  
    .Conteudo {
        font-size: 20px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        //margin: 10px 0 20px;
        margin-bottom: 5px;
        text-align: center;
    }
  
  
    .BackToSignIn {
        position: absolute;
        left: 0;
        bottom: 0;
        right:0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 25px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
  
    .CreateAccountButton {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 25px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: block;
    }
  
    .CreateAccountButtonText {
        color: #126DE8;
        font-size: 18px; //16
        font-family: 'Lato-Bold';
        margin-left: 10px;
        align-items: center;
        text-align: center;
    }
  
    img    {
        border-radius: 50%;
        height: 40px;
        margin-left:10px;
    }
  }