<ion-content>
  <div>
    <img src="/sarcex/assets/img/logo.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px;"/>
    <div class="Title">Crie sua conta</div>

    <form [formGroup]="onRegisterForm" >
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -3px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input name="name" type="text" autocomplete="off" placeholder="Nome Completo" formControlName="fullName" class="InputStyle"/>
    </ion-item>
    <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>

    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>&nbsp;
      <input name="phone" type="tel" autocomplete="off" placeholder="Telefone" formControlName="telefone" onkeypress="$(this).mask('(00) 90000-0000')" class="InputStyle"/>
    </ion-item>
    <p ion-text class="text08" *ngIf="onRegisterForm.get('telefone').touched && onRegisterForm.get('telefone').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>

    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
      </svg>&nbsp;
      <input name="email" autocomplete="off" type="email" placeholder="E-mail" formControlName="userName" class="InputStyle"/>
    </ion-item>
    <p ion-text class="text08" *ngIf="onRegisterForm.get('userName').touched && onRegisterForm.get('userName').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>
    <div class= "texto-email">
      <small *ngIf = "onRegisterForm.get('userName').errors?.userNameTaken" class= "text-danger" >Email Existente !</small>
      <small *ngIf = "onRegisterForm.get('userName').valid" class= "text-success" >Email Válido !</small>
    </div>

    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -7px;">
        <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
      </svg>&nbsp;
      <input  name="password" autocomplete="off" formControlName="password" [type]="tipo ? 'text' : 'password'" placeholder="Senha" class="InputStyle"/>
    </ion-item>
    <div style="margin-top: 5px; text-align: right; padding-right: 18px;" class="ForgotPasswordText" (click)="exibirOcultar()"><span>Exibir senha</span></div>
    <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>
    <ion-item class="Input" style="padding: 0px;">
        <input formControlName = "file"  type="file" (change)= "file = $event.target.files[0]" accept="image/*">
    </ion-item>
  </form>

    <button class="Button" (click)="paciente()"><div class="ButtonText"><p>ENVIAR</p></div></button>
  </div>
  <div class="BackToSignIn" (click)="login()">
      <div class="BackToSignInText">
        <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-bottom: -8px;">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>&nbsp;
        Voltar para Login
      </div>
    </div>
</ion-content>