:host {

    ion-content {
        --background: #126DE8;
    }

    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }

    .Container{
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px 70px;
    }

    .Title {
        font-size: 24px;
        text-align: center;
        color: #f4ede8;
        font-family: 'Lato-Regular';
        margin: 5px 0 24px;
    }

    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        padding-left: 5px;
        padding-bottom: none;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }

    .BackToSignIn {
        position: absolute;
      //  left: 0;
        bottom: 0;
      //  right:0;
      //  margin-top: 20%;
        background: #fff;
     //   border-top-width: 1px;
      //  border-color: #232129;
        padding: 16px 0 25px;
      //  justify-content: center;
      //  align-items: center;
      //  flex-direction: row;
    }

    .ForgotPasswordText {
        color: #f4ede8;
        font-size: 16px; //13.5
        font-family: 'Lato-Regular';
        text-align: center;
    }

    .BackToSignInText { 
        color: #126DE8;
        font-size: 18px;
        font-family: 'Lato-Bold';
        align-items: center;
        text-align: center;
    }
    ion-text.ion-color.ion-color-danger.md.hydrated {
        font-size: 13px;
        margin-left: 5%;
        background: #eb445a;
        padding: 2%;
        border-radius: 9px;
        color: #fff;
    }
    small.text-success {
        background: green;
        padding: 2%;
        margin-left: 5%;
        border-radius: 9px;
        color: #fff;
    }
    small.text-danger {
        background:#eb445a;
        padding: 2%;
        margin-left: 5%;
        border-radius: 9px;
        color: #fff;
    } 
    .texto-email{
        margin-bottom: 10px;
    }
}