<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="agenda" text="" ></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div>
    <img src="/sarcex/assets/img/logo.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px;"/>
    <div class="Title">Vamos cadastrar o paciente.</div>

    <form [formGroup]="pacienteForm">
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -3px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input name="name" autocomplete="off" type="text" formControlName="name" placeholder="Nome Completo" class="InputStyle"/>
      </ion-item>
      <p ion-text class="text08" *ngIf="pacienteForm.get('name').touched && pacienteForm.get('name').hasError('required')">
        <ion-text color="danger">
          Esse campo é obrigatório!
        </ion-text>
      </p>
    
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>&nbsp;
      <input name="phone" autocomplete="off" type="tel" formControlName="telefone" placeholder="Telefone" onkeypress="$(this).mask('(00) 90000-0000')" class="InputStyle"/>
    </ion-item>
    <p ion-text class="text08" *ngIf="pacienteForm.get('telefone').touched && pacienteForm.get('telefone').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16" style="color: #126DE8; margin-top: -3px;">
        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
      </svg>&nbsp;
      <input name="sus" autocomplete="off" type="text" formControlName="sus" placeholder="Carteirinha do SUS" class="InputStyle"/>
    </ion-item>
    <p ion-text class="text08" *ngIf="pacienteForm.get('sus').touched && pacienteForm.get('sus').hasError('required')">
      <ion-text color="danger">
        Esse campo é obrigatório!
      </ion-text>
    </p>

    <!--<div class= "texto-email">
      <small *ngIf = "pacienteForm.get('sus').errors?.pacienteNameTaken" class= "text-danger">Paciente já cadastrado!</small>
      <small *ngIf = "pacienteForm.get('sus').valid" class= "text-success" >Paciente não cadastrado!</small>
    </div>-->

    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em"xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-calendar4-event" viewBox="0 0 16 16" style="color: #126DE8; margin-top: 1px;">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
        <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
      </svg>&nbsp;
      <input name="date" autocomplete="off" type="tel" formControlName="nascimento" placeholder="Data de nascimento" onkeypress="$(this).mask('00/00/0000')" class="InputStyle"/>
      </ion-item>
      <p ion-text class="text08"  *ngIf="pacienteForm.get('nascimento').touched && pacienteForm.get('nascimento').hasError('required')">
        <ion-text color="danger">
          Esse campo é obrigatório!
        </ion-text>
      </p>
    </form>

      <div class="Conteudo"><p>Todo paciente Novo tem que passar pelo teste Sarcopenia.</p></div>
      <button class="Button" (click)="info()"><p class="ButtonText">Teste para diagnóstico</p></button>
  </div>
</ion-content>