:host {

    ion-content {
        --background: #126DE8;
    }

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent; 
        --border-style: var(--border-style);
        --border: 0 none; 
        --box-shadow: 0 0 0 0; 
        --outline: 0;
    }

    .Container{
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
    }

    .Title {
        font-size: 24px;
        text-align: center;
        color: #f4ede8;
        font-family:'Lato-Regular';
        margin: 10px 0 10px;
    }

    .Header {
        //padding: 30px;
        //padding-top: 30px;
        background: #126DE8;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Conteudo {
        font-size: 18px;
        text-align: center;
        color: #f4ede8;
        font-family:'Lato-Bold';
        margin: 10px 0 10px;
    }

    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }

    .InputStyleS {
        margin-left: 10px;
        width: 115%;
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }

    ion-text.ion-color.ion-color-danger.md.hydrated {
        font-size: 13px;
        margin-left: 5%;
        background: #eb445a;
        padding: 2%;
        border-radius: 9px;
        color: #fff;
    }

    small.text-success {
        background: green;
        padding: 2%;
        margin-left: 5%;
        border-radius: 9px;
        color: #fff;
    }

    small.text-danger {
        background:#eb445a;
        padding: 2%;
        margin-left: 5%;
        border-radius: 9px;
        color: #fff;
    } 

    .texto-email{
        margin-bottom: 10px;
    }
}
