:host {

    ion-content {
        --background: white;
    }

    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }

    .Container{
        flex: 1;
        background: #fff;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin-top: 150px;
    }

    .Title {
        font-size: 24px;
        text-align: center;
        color: #000;
        font-family:'Lato-Regular';
        margin: 20px 0 30px;
    }

    .Conteudo {
        font-size: 15px;
        text-align: center;
        color: #000;
        font-family:'Lato-Regular';
        margin: 20px 0 30px;
    }


    .BackToSignIn {
        position: absolute;
        left: 0;
        bottom: 0;
        right:0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 calc(10 + getBottomSpace()px);
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}