<ion-content>
  <div class="Container">
      <div class="Title">INFORMAÇÃO</div>
      <div class="Title">Sarcopenia, queda do desempenho muscular, massa, força, potência e resistência que 
                          pode ser confirmado através testes, que devem ser realizados para uma melhor confirmação 
                          diagnostica do paciente.
        <div class="Conteudo">(DODDS e SAYER, 2014)</div>
      </div>
      <button class="Button" (click)="teste()"><p class="ButtonText">Começar o teste</p></button>
  </div>
</ion-content>