<ion-content>
  <div>
    <div class="Title">Teste de Caminhada <br> de 6 minutos</div>
    <div class="Conteudo">Em um solo plano com extensão entre 20 e 30 metros, solicita-se que o indivíduo 
                          caminhe durante seis minutos, em ritmo próprio, com o objetivo de cobrir a maior 
                          distância possível, dentro do tempo proposto. Antes e imediatamente depois da conclusão
                          do teste, são aferidas a freqüência cardíaca, a pressão arterial, a oximetria e a 
                          intensidade do cansaço, esta última por meio de um questionário padronizado – a escala de 
                          Bor Distancia Percorrida: 401,185 –(2,402 x Idade anos) + (43,247 x Gênero  
                          (masc. = 1; fem. = 0) + 1,757 x estatura cm). Escore médio:410,5 metros para os homens e de
                           371,0 metros para as mulheres.</div>
      
      <form [formGroup]="caminhadaForm"> 
      <ion-item class="Input" style="padding: 0px;">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>&nbsp;
        <input autocomplete="off" name="name" type="text" formControlName="caminhada_resultado" placeholder="Resposta" class="InputStyle"/>
      </ion-item>
        </form>
      <button class="Button" (click)="agenda()"><p class="ButtonText">ENVIAR</p></button>
    </div>
</ion-content>