<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="agenda" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class="Title">Editar Perfil</div><br>

  <div class="circle">
    <img src="http://159.203.181.9:3000/imgs/{{urlFoto}}">
  </div>
  <p (click)="ap();"  style="text-align: center; margin-top: 4px;">Editar Foto de Perfil</p>
  <div id = "ap" style="display: none;">
    <ion-row class="ion-text-wrap">
      <ion-col>
        <div class = "edit-email">
          <ion-item class="Input" style="padding: 0px;">
            <input  type="file" (change)= "file = $event.target.files[0]" accept="image/*"><br>
           
        </ion-item>
        
         
          <button class="Button" (click)="salvarFoto()"><p class="ButtonText">SALVAR</p></button>
    
        </div>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]= "editForm">
    <ion-grid style="border: 1px solid lightgray;" >
      <ion-row>
        <ion-col size="3">Nome</ion-col>
              <ion-col style="border-bottom: 1px solid lightgray;"> 
                <input autocomplete="off" name="password" formControlName="fullName"  placeholder = "{{fullName}}" style="background-color: transparent; border: none; width: 85%;"/>
              </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Senha</ion-col>
        <ion-col style="border-bottom: 1px solid lightgray;">
          <input autocomplete="off" name="password" type="text" formControlName="password" placeholder = "***" style="background-color: transparent; border: none; width: 85%;"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">E-mail</ion-col>
        <ion-col style="font-size: 15px; border-bottom: 1px solid lightgray;">{{user.email}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Telefone</ion-col>
        <ion-col>
          <input autocomplete="off" name="password"  type="text" formControlName="telefone" placeholder = "{{telefone}}" style="background-color: transparent; border: none; width: 85%;"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <button class="Button" (click)="salvar()"><p class="ButtonText">SALVAR</p></button>

 
</ion-content>