:host{

    ion-content {
        --background: #fff;
        flex: 1;
        align-items: center;
        justify-content: center;
        //padding: 0 10px;
        //margin-top: 70px;
        
    }

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent;
    }

    p {
        color:#126DE8; 
        padding-left: 10px;
    }

    .choose-paciente{
        width: 100%;
        padding: 9px;
        margin-bottom: 10px;
    }
  
    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 12px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }

    .container {
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        //margin-top: 70px;
        background: purple;
    }

    .Header {
        //padding: 30px;
        //padding-top: 30px;
        background: #126DE8;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Title {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        color: #126DE8; //#f4ede8;
        font-family:'Lato-Bold';
    }

    .Conteudo {
        font-size: 20px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        //margin: 10px 0 20px;
        margin-bottom: 5px;
        text-align: center;
    }

    .UserName {
        font-family: 'Lato-Bold';
        font-size: 22px;
        color: #126DE8;
        text-align: center;
        //margin-bottom: -15px;
    }

    .BackToSignIn {
        position: absolute;
        left: 0;
        bottom: 0;
        right:0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 25px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .CreateAccountButton {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 25px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: block;
    }
  
    .CreateAccountButtonText {
        color: #126DE8;
        font-size: 18px; //16
        font-family: 'Lato-Bold';
        margin-left: 10px;
        align-items: center;
        text-align: center;
    }

    .circle {
        background-color: #aaa;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        margin-left: 10px;
        margin-bottom: 10px;
        display: block;
        margin: auto;
      }
      
      .circle img {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
}