<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="contato" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="Header">
       
  </div>
  <div class="Container">
      
      <div class="ProfileButton"></div>
    
      <div class="Text"><b>Agendamento</b></div><br>
         
         <ion-item>
          <ion-label>Data da consulta</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Horário da consulta</ion-label>
          <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="hora"></ion-datetime>
        </ion-item>
       <br>
         <select class="custom-select" [(ngModel)]="profissional">
          <option [ngValue]="undefined" hidden selected>Profissional</option>
          <option>Noeli</option>
          <option>Jessica</option>
        </select>
      
      <button class="Button" (click)="agendamento()"><p class="ButtonText">Salvar</p></button>
  </div>
</ion-content>