<ion-toolbar class="Header">
    <ion-buttons slot="start" size="x-small">
      <ion-back-button color="light" defaultHref="agenda" text=""></ion-back-button>
    </ion-buttons>
</ion-toolbar>
  
  <ion-content>
      <div class="Title">Consulta do Paciente</div>
      <div class="UserName" *ngIf="consulta as consulta" >Paciente {{consulta.paciente_name}}</div>

      <p></p>
    <ion-grid  style="background: aliceblue;">
        <ion-row><p><u>Último teste:</u></p></ion-row><br>
        <ion-row>
          <ion-col>Doenças</ion-col>
          <ion-col>{{doenca}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Medicamentos</ion-col>
          <ion-col >{{medicamentos}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Tabagismo</ion-col>
          <ion-col>{{tabagismo}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Atividades Físicas</ion-col>
          <ion-col>{{atividade}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Bioimpendância M. Magra</ion-col>
          <ion-col>{{massa_magra}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Bioimpendância M. Gorda</ion-col>
          <ion-col>{{gordura}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Antropométrica</ion-col>
          <ion-col>{{antropometrica_resultado}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Time up and GO (TUG)</ion-col>
          <ion-col>{{timeup_resultado}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Caminhada</ion-col>
          <ion-col>{{caminhada_resultado}}</ion-col>
        </ion-row>
      </ion-grid>

      <p></p>

      <ion-grid style="background: aliceblue;">
        <ion-row><p><u>Exercícios:</u></p></ion-row>
        <ion-row>
          <ion-col>MMSS</ion-col>
          <ion-col>{{ex_01}}<br><hr>{{ex_02}}<br><hr>{{ex_03}}<br><hr>{{ex_04}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>MMII</ion-col>
          <ion-col>{{ex_mmii}}<br><hr>{{ex_mmii_02}}<br><hr>{{ex_mmii_03}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Core</ion-col>
          <ion-col>{{ex_core}}</ion-col>
        </ion-row>
      </ion-grid>
      <p>Anotações : </p>
      <p>{{anotacoes}}</p>
  </ion-content>