<ion-content>
  <div>
    <div class="Title">Questionário Clínico <br> Dados Clínicos</div>
    <br>
    <form [formGroup]="testeForm">
       
    <div class="Conteudo">Doenças?</div>
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input autocomplete="off" formControlName="doencas" name="name" type="text" placeholder="Quais?" class="InputStyle"/>
      </ion-item>
      <br>
    <div class="Conteudo">Medicamentos de uso contínuo?</div>
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input autocomplete="off" formControlName="medicamentos" name="name" type="text" placeholder="Quais?" class="InputStyle"/>
      </ion-item>
      <br>
    <div class="Conteudo">Tabagismo?</div>
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input autocomplete="off" formControlName="tabagismo" name="name" type="text" placeholder="Sim ou Não" class="InputStyle"/>
      </ion-item>
      <br>
    <div class="Conteudo">Pratica atividade física?</div>
    <ion-item class="Input" style="padding: 0px;">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>&nbsp;
      <input autocomplete="off" formControlName="atividade" name="name" type="text" placeholder="Sim ou Não" class="InputStyle"/>
      </ion-item>
    </form>

    <button class="Button" (click)="teste2()"><p class="ButtonText">Avançar</p></button>
  </div>
</ion-content>