:host{

    ion-content {
        --background: #126DE8;
    }
  
    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }

    .Container {
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin-top: 70px;
    }

    .Title {
        margin-top: 70px;
        font-size: 24px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        text-align: center;
    }

    .Conteudo {
        font-size: 20px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        //margin: 10px 0 20px;
        margin-bottom: 5px;
        text-align: center;
    }


    .BackToSignIn {
        position: absolute;
        left: 0;
        bottom: 0;
        right:0;
        background: #fff;
        border-top-width: 1px;
        border-color: #232129;
        padding: 16px 0 25px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}