:host {

    ion-content {
        --background: #fff;
    }

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent;
    }

    .custom-select {
        display: block;
        width: 95%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        //vertical-align: middle;
        border: 1px solid #126DE8;
        border-radius: .75rem;
        /*-webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;*/
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: auto;
        text-align: center;
        margin: auto;
    }

    .Button {
        width: 70%;
        height: 50px;
        background: #126D;
        border-radius: 10px;
        margin-top: 15px;
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 13px;
    }
  
    .Input {
        width: 90%;
        height: 45px;
        padding: 0 16px;
        background: #fff;
        border-radius: 6px;
        margin-bottom: 8px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Container {
        flex: 1;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        padding: 0 19px;
        margin-top: 70px;
    }

    .Header {
        //padding: 30px;
        //padding-top: 30px;
        background: #126DE8;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .HeaderTitle {
        color: #f4ede9;
        font-size: 20px;
        line-height: 28px;
        margin-top: 10px;
    }

    .UserName {
        font-family: 'Lato-Bold';
        font-size: 22px;
        color: #f4ede9;
        margin-bottom: -15px;
    }

    //.ProfileButton {}

    .UserAvatar {
        width: 56px;
        height: 56px;
        border-color: #fff;
        border-radius: 28px;
    }
    
    .Text {
        font-family: 'Lato-Bold' ;
        font-size: 24px;
        color: #126DE8;
        text-align: center;
        margin-top: 20px;
    }

    .List {
        padding-top:50;
        padding-left:20;
        padding-right:20;
    }

    .ListContainer {
        background: #126DE8;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 10px;
        margin-left: 6.5px;
        margin-right: 6.5px;
        flex-direction: row;
        align-items: center;
    }
    
    .ListAvatar {
        width: fit-content;
        height: fit-content;
        border-radius: 36px;
    }

    .ListInfo {
        flex:1;
        margin-left: 60px;
    }

    .ListName {
        font-family: 'Lato-Bold';
        font-size: 18px;
        color: #fff;
    }

    .ListMeta {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
    }

    .ListMetaText {
        margin-left: 8px;
        color: #999591;
    }

    .choose-paciente{
        width: 100%;
        padding: 10px;
    }
  }