<ion-toolbar class="Header">
  <ion-buttons slot="start" size="x-small">
    <ion-back-button color="light" defaultHref="agenda" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
    
      <div class="Text"><b>Agendamento</b></div><br>
      
      <select class="custom-select" [(ngModel)]="pacienteAgenda" (ngModelChange)="pAgenda()">
        <option [ngValue]="undefined" hidden selected>Escolha o paciente</option>
        <option *ngFor="let paciente of paciente" [ngValue]="paciente.sus">{{paciente.name}}</option>
      </select>

</ion-content>