ion-toolbar {
    --background: #126DE8;
}

ion-title {
    color: white;
    font-size: 20px;
    text-align: left !important;
    padding-left: 5%;
}

ion-item {
    --color: #123DE8;
    //deixar menu sem linhas
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
}

ion-icon {
    color: #123DE8;
}