<ion-app>
  <ion-menu side="start" type="push" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="agenda()"><ion-icon name="book-outline" size="small" slot="start"></ion-icon><ion-label>Agenda</ion-label></ion-item>
        <ion-item (click)="paciente()"><ion-icon name="person-add-outline" size="small" slot="start"></ion-icon><ion-label>Adicionar Paciente</ion-label></ion-item>
        <ion-item (click)="agendamento()"><ion-icon name="calendar-outline" size="small" slot="start"></ion-icon><ion-label>Agendar Paciente</ion-label></ion-item>
        <ion-item (click)="editPerfil()"><ion-icon name="create-outline" size="small" slot="start"></ion-icon><ion-label>Editar Perfil</ion-label></ion-item>
        <ion-item (click)="referencia()"><ion-icon name="reader-outline" size="small" slot="start"></ion-icon><ion-label>Referências</ion-label></ion-item>
        <ion-item (click)="logout()"><ion-icon name="exit-outline" size="small" slot="start"></ion-icon><ion-label>Sair</ion-label></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>