:host {

    ion-content {
        --background: #126DE8;
    }
  
    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        padding: 0 16px;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }
  
    .InputText {
        flex: 1;
        color: #126DE8;
        font-size: 16px;
        font-family: 'lato-Regular';
    }

    .Container {
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px 70px;
    }

    .Title {
        text-align: center;
        font-size: 24px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        margin: 100px 0 20px;
    }

    .Conteudo {
        text-align: center;
        font-size: 18px;
        color: #f4ede8;
        font-family:'Lato-Bold';
        margin: 10px 0 30px;
        padding: 0 20px 0;
    }
}