<ion-content>
  <div>
    <div class="Title">Avaliação Antropométrica (peso, altura, circunferência panturrilha)</div>
    <div class="Conteudo">IMC: Peso corporal em quilogramas e a altura em metros elevada ao quadrado (IMC= peso/altura²) baixo peso(maior 18,5 kg/m2), peso normal (18,5-24,9 kg/m2), sobrepeso (25-29,9kg/m2)  obesos (> 30 kg/m2).13,14
                          Circunferência Panturrilha mensurar a maior porção da região da panturrilha sem comprimi-la.
                          Um valor inferior a 31 centímetro1s indicado depleção de massa muscular.</div>

      <form [formGroup]="antropometricaForm">    
      <ion-item class="Input" style="padding: 0px;">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>&nbsp;
        <input name="name" autocomplete="off" type="number"  formControlName="antropometrica_resultado" placeholder="% Resultado" class="InputStyle"/>
        </ion-item>
      </form> 

    <button class="Button" (click)="teste4()"><p class="ButtonText">Avançar</p></button>
  </div>
</ion-content>