:host {

    ion-content {
        --background: #126DE8;
    }

    .Button {
        width: 60%;
        height: 60px; //50
        background: #126D;
        border-radius: 10px;
        margin-top: 8px; //15
        justify-content:center;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: inline-end;
    }
  
    
    .ButtonText {
        font-family:'Lato-Bold';
        color: #fff;
        font-size: 16px; //13
    }
  
    .Input {
        width: 90%; //90
        height: 38px; //45
        //padding-top: 5px;
        padding-left: 5px;
        padding-bottom: none;
        background: #fff;
        border-radius: 8px; //6
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .InputStyle {
        font-size: large; 
        border: 0 none; 
        box-shadow: 0 0 0 0; 
        outline: 0;
    }
  
    .InputText {
        flex: 1;
        color: #126DE8;
        font-size: 16px;
        font-family: 'lato-Regular';
    }
  
    .Container {
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 30px 70px;
        width: 70%;
        height: 60px;
        background: #126D;
        border-radius: 10px;
        margin-top: 8px;
    }
  
    .Title {
        font-size: 20px; //17
        text-align: center;
        color: #f4ede8;
        font-family: 'Lato-Regular';
        margin: 5px 0 24px;
    }
  
    .ForgotPassword {
        margin-top: 30px;
    }
  
    .ForgotPasswordText {
        color: #f4ede8;
        font-size: 16px; //13.5
        font-family: 'Lato-Regular';
        text-align: center;
    }
  
    .CreateAccountButton {
        position: absolute;
        width: 100%;
       // left: 0;
        bottom: 0;
      //  right: 0;
      //  margin-top:10%;
        background: #fff;
       // border-top-width: 1px;
      //  border-color: #232129;
        padding: 16px 0 25px;
      //  justify-content: center;
      //  align-items: center;
      //  flex-direction: row;
     //   display: block;
    }
  
    .CreateAccountButtonText {
        color: #126DE8;
        font-size: 18px; //16
        font-family: 'Lato-Bold';
        margin-left: 10px;
        align-items: center;
        text-align: center;
    }

  
    .logo-img {
        display: block;
        align-self: center;
        align-items: center;
        justify-content: center;
        padding: 0 62px;
        margin-top: 20%;
        margin-bottom: 10%;
        text-align: center;
        margin: auto;
    }

   
   
  }