<ion-content>
  <div class = "container">
    <img src="/sarcex/assets/img/logo.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 15px;"/>
    <div class="Title">Faça seu login</div>

    <form [formGroup]="onLoginForm">
    <ion-item class="Input" style="padding: 0px;">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -4px;">
            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>&nbsp;
        <input name="email" formControlName="userName" type="e-mail" placeholder="E-mail" class="InputStyle">
      </ion-item>

    <ion-item class="Input" style="padding: 0px;">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-top: -7px;">
          <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
        </svg>&nbsp;
        <input  name="password" formControlName="password" [type]="tipo ? 'text' : 'password'" placeholder="Senha" class="InputStyle"/>
    </ion-item>
    <div style="margin-top: 5px; text-align: right; padding-right: 18px;" class="ForgotPasswordText" (click)="exibirOcultar()"><span>Exibir senha</span></div>

  </form>
    
    <button class="Button" (click)="agenda()"><div class="ButtonText" ><p>ENTRAR</p></div></button>
    <div style="margin-top: 25px;" class="ForgotPasswordText" (click)="forgotPassword()"><span>Esqueci minha senha</span></div>

    <br>
    <div text-center class="logo-img">
      <img width="180px" src="/sarcex/assets/img/logo_Mestrado.png" > 
    </div>
  </div>
  <div class="CreateAccountButton" (click)="singup()">
    <div class="CreateAccountButtonText">
      <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #126DE8; margin-bottom: -3px;">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>&nbsp;
      Cadastro para profissionais
    </div>
  </div>
</ion-content>

