<ion-toolbar class="Header">
    <ion-buttons slot="end">
      <ion-menu-button color="light"><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-button>
    </ion-buttons>
    <br><br>
    <div class="circle">
      <img src="http://159.203.181.9:3000/imgs/{{urlFoto}}">
    </div>
    <div class="HeaderTitle"><span *ngIf="(user$ | async) as user;else login" >Olá, <br>{{user.fullName}}  !</span>
    </div>  
  </ion-toolbar>

<ion-content>
  <div class="Container">
      <div class="ProfileButton"></div>
      <div class="Text"><b>Atendimento do dia</b></div><br>
      
      <div class="List">

        <div class="ListContainer" *ngFor="let agenda of agenda" (click) = "consulta(agenda.paciente_sus)">
          <div class="ListAvatar">
            <div class="ListMeta">
              <div class="ListInfo" >
                <div class="ListName">{{agenda.nome}}</div>
                <div class="ListName">
                  <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #fff; margin-bottom: -1px;">
                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                  </svg>
                  {{agenda.semana}}</div>
                <div class="ListName">
                  <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #fff; margin-bottom: -1px;">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  {{agenda.hora}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</ion-content>
