/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: transparent;
    color: #126DE8;
    --color-checked: #126DE8;
    --inner-border: none;
    padding: none;
}

.checkbox {
    
    .alert-title{
      color: #001c4e !important;
      text-align: center;
      font-size: medium;
    }
    .alert-sub-title{
      color: #001c4e !important;
      text-align: center ;
    }
    .alert-message {
      color: #001c4e !important;
      text-align: center ;
      font-size: 18px;
    }
    .alert-button-inner{
      text-align: center;
      color: #001c4e !important;
    }
    .alert-wrapper {
      width: 100%;
    }

    .alert-checkbox-icon.sc-ion-alert-md {
    left: 26px;
    top: 0;
    border-radius: 50px;
    position: relative;
    width: 16px;
    height: 16px;
    border: none;
    //border-width: 2px;
    //border-style: solid;
    //border-color: var(--ion-color-step-550, #737373);
    border: 1px solid;
    border-color: #126DE8;
    contain: strict;
    }

    [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
        border: 1px solid;
        border-color: #126DE8;//var(--ion-color-primary, #3880ff);
        background-color:transparent;//var(--ion-color-primary, #3880ff);
    }

    [aria-checked=true].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-md {
        left: 3px;
        top: 0;
        position: absolute;
        width: 6px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: #126DE8; //var(--ion-color-primary-contrast, #fff);
    }
  }
